main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

/*自己加的，另外的家在Product.jsx的<Card.Img src={props.product.image} variant='top' />这一行中*/
.card-img {
  height: 25rem;
  object-fit: cover;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* test */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 将背景放置在内容之后 */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 图片填充整个容器 */
}



.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* 使用 backdrop-filter 实现模糊效果 */
}

.custom-navbar {
  background-color: #f2eada;
  color: white;
}

.custom-navbar .nav-link,
.custom-navbar .nav-dropdown .dropdown-item,
.custom-navbar .navbar-brand {
  color: #000; /* 或其他深色字体颜色 */
}

.search-button {
  color: #000; /* 或其他深色字体颜色 */
}